/* Global styles */
* {
    font-family: 'Open Sans', sans-serif;
    transition: 0.3s;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
}

/* navbar styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav li {
    list-style: none;
    display: inline;
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.nav li:hover {
    color: #333232;
    border-bottom: 2px solid #FD6E0A;
}

.nav a {
    text-decoration: none;
}

.nav button {
    width: 150px;
    height: 60px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
}

.nav button:hover {
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
}

/* header section styles */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;

}

/* banner styles */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-img {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-head {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-button {
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.banner-button:hover {
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
}


/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about-section {
    margin: 130px 0px;
    background-color: #FFF8F3;
    padding: 130px;
    text-align: center;
    border-radius: 10px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}