/* Global styles */
* {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
}

/* navbar styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav li {
    list-style: none;
    display: inline;
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}

.nav a {
    text-decoration: none;
}

.nav button {
    width: 150px;
    height: 60px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
}

/* header section styles */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;

}

/* banner styles */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    /* background-image: url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: left top; */
}

.banner-img {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-head {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner button {
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    border: 0;
}